/* line 1, C:/Users/sahil/Desktop/Betting Calculator/scss/style.scss */
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 7, C:/Users/sahil/Desktop/Betting Calculator/scss/style.scss */
body {
  background-image: url(../media/Darkroad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 13, C:/Users/sahil/Desktop/Betting Calculator/scss/style.scss */
.wrapper-body {
  max-width: 650px;
  margin: 70px auto 100px;
  width: 100%;
}

/* line 1, C:/Users/sahil/Desktop/Betting Calculator/scss/_tabbutton.scss */
.tabbuttons {
  width: 100%;
}

/* line 5, C:/Users/sahil/Desktop/Betting Calculator/scss/_tabbutton.scss */
.buttoncontainer button {
  width: calc(100% / 3);
  outline: none;
  border: none;
  float: left;
  font-size: 20px;
  padding: 15px 0;
}

/* line 1, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 8, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.tabpanel {
  width: 100%;
}

/* line 13, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel__info {
  font-style: italic;
  margin-top: 50px;
  font-size: 16px;
}

/* line 20, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-backbet {
  background: #D7ECFA;
  padding: 20px 22px 50px;
}

/* line 23, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-backbet__title {
  font-weight: 500;
  font-size: 25px;
  padding: 10px 0;
}

/* line 28, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-backbet__input-group-a {
  margin-top: 10px;
}

/* line 31, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-backbet__input-group-b {
  margin-top: 30px;
}

/* line 36, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet {
  background: #FDDEE5;
  padding: 20px 22px 30px;
}

/* line 39, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__title {
  font-weight: 500;
  font-size: 25px;
  padding: 10px 0;
}

/* line 44, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__input-group-a {
  margin-top: 10px;
}

/* line 47, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__buttons {
  padding: 25px 0 10px;
}

/* line 49, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap {
  text-align: center;
}

/* line 51, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap button {
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  background: #FFBCCB;
  border-radius: 120px;
  padding: 5px 25px;
}

/* line 60, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qboverlay, .panel-laybet__buttons--wrap .fboverlay, .panel-laybet__buttons--wrap .cboverlay {
  float: right;
}

/* line 63, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qbunderlay, .panel-laybet__buttons--wrap .fbunderlay, .panel-laybet__buttons--wrap .cbunderlay {
  float: left;
}

/* line 70, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  border: 0;
  background: #262F30;
  margin-top: 15px;
}

/* line 79, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 87, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 94, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--scale {
  display: -webkit-box;
  width: 100%;
  margin-top: 10px;
}

/* line 98, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .line {
  height: 7.5px;
  width: 1px;
  margin-right: 1.91%;
  background-color: #262F30;
}

/* line 104, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .l1, .panel-laybet__slider--scale .l25, .panel-laybet__slider--scale .l49 {
  height: 20px;
  width: 2px;
}

/* line 110, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax {
  margin-top: 10px;
  display: -webkit-box;
  font-size: 20px;
  width: 100%;
}

/* line 115, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--min {
  width: calc(100% / 3);
}

/* line 117, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min {
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

/* line 125, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min__value input {
  border: none;
  background: #FFBCCB;
  font-size: 20px;
  width: 55px;
  margin-left: 10px;
}

/* line 135, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard {
  width: calc(100% / 3);
  text-align: center;
}

/* line 138, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard .standard {
  padding-top: 10px;
  font-size: 20px;
}

/* line 143, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--max {
  width: calc(100% / 3);
  position: relative;
}

/* line 146, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max {
  position: absolute;
  right: 0;
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

/* line 156, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max__value input {
  border: none;
  background: #FFBCCB;
  font-size: 20px;
  width: 55px;
  margin-left: 10px;
}

/* line 170, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.laystake-val {
  background: #262F30;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

/* line 178, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.laystake-val:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(38, 47, 48, 0);
  border-bottom-color: #262F30;
  border-width: 18px;
  margin-left: -18px;
}

/* line 194, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult {
  margin-top: 15px;
}

/* line 197, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult .cbcalc .rm-padding {
  padding: 0 15px;
}

/* line 200, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult .cbcalc .in-width {
  width: 25%;
}

/* line 203, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult .cbcalc .divide-padding {
  padding: 0 7.5px;
}

/* line 206, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult .cbcalc .rm-extra {
  padding-right: 0;
}

/* line 209, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult .cbcalc .align-center {
  padding-right: 0;
  text-align: left;
}

/* line 214, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table {
  border-collapse: collapse;
  text-align: right;
  width: 100%;
}

/* line 218, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table--row1 {
  background: #262F30;
  color: white;
  font-weight: 500;
}

/* line 223, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table--row2 {
  background: #F0F8FF;
  font-weight: 500;
}

/* line 227, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table--row3 {
  background: #CBE2E5;
  font-weight: 500;
}

/* line 232, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col1 {
  width: 40%;
  padding: 25px 0;
}

/* line 236, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col2 {
  width: 15%;
}

/* line 239, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col3 {
  width: 2%;
  padding: 0 30px;
  text-align: center;
  color: #E6B051;
  font-weight: lighter;
  font-size: 22px;
}

/* line 247, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 251, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 255, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #E6B051;
  font-weight: lighter;
}

/* line 261, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
}

/* line 267, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col1 {
  width: 50%;
  padding: 10px 25px 10px 0;
  font-size: 20px;
  background: #D7ECFA;
  border-radius: 0 25px 25px 0;
  position: relative;
}

/* line 274, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col1 .bs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #F0F8FF;
  z-index: -1;
}

/* line 283, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col2 {
  width: 15%;
}

/* line 286, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col3 {
  width: 2%;
  padding: 0 30px 0;
  text-align: center;
  color: #262F30;
  font-size: 22px;
}

/* line 293, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 297, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 301, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #262F30;
  background: rgba(0, 0, 0, 0.07);
}

/* line 307, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.07);
}

/* line 315, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col1 {
  width: 50%;
  padding: 10px 15px 10px 0;
  font-size: 20px;
  background: #FDDEE5;
  border-radius: 0 25px 25px 0;
  position: relative;
}

/* line 322, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col1 .bs2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #CBE2E5;
  z-index: -1;
}

/* line 331, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col2 {
  width: 15%;
}

/* line 334, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col3 {
  width: 2%;
  padding: 0 30px 0;
  text-align: center;
  color: #262F30;
  font-size: 22px;
}

/* line 341, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 345, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 349, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #262F30;
  background: rgba(0, 0, 0, 0.07);
}

/* line 355, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.07);
}

/* line 365, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.accordion {
  background-color: #262F30;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 15px;
}

/* line 383, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/* line 391, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.active:after {
  content: "\2212";
}

/* line 395, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.mpanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* line 403, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show {
  width: 100%;
  border-collapse: collapse;
}

/* line 407, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(1) {
  background: #262F30 !important;
  color: white;
  border-top: 0.5px solid lightgrey;
}

/* line 412, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(odd) {
  background: #CBE2E5;
}

/* line 415, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(even) {
  background: #F0F8FF;
}

/* line 418, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row .bold {
  font-weight: bold;
}

/* line 421, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row .whiteopacited {
  background: rgba(255, 255, 255, 0.22);
}

/* line 424, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row .blackopacited {
  background: rgba(0, 0, 0, 0.07);
}

/* line 428, C:/Users/sahil/Desktop/Betting Calculator/scss/_calculatordefault.scss */
.moreresults__show--row-col {
  padding: 15px 15px;
}

/*# sourceMappingURL=../css/style.map */