/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 7, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
body {
  background-image: url(../media/Darkroad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
.wrapper-body {
  max-width: 552px;
  margin: 70px auto 100px;
}

@media screen and (max-width: 552px) {
  /* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/style.scss */
  .wrapper-body {
    max-width: 100%;
  }
}

/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
.tabbuttons {
  width: 100%;
}

/* line 5, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
.buttoncontainer button {
  width: calc(100% / 3);
  outline: none;
  border: none;
  float: left;
  font-size: 18px;
  padding: 15px 0;
  border-collapse: collapse;
}

@media screen and (max-width: 390px) {
  /* line 5, C:/Users/sahil/Documents/GitHub/calc/scss/_tabbutton.scss */
  .buttoncontainer button {
    font-size: 15px;
  }
}

/* line 1, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* line 8, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.tabpanel {
  width: 100%;
}

/* line 13, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel__info {
  font-style: italic;
  margin-top: 50px;
  font-size: 16px;
}

/* line 20, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet {
  background: #D7ECFA;
  padding: 20px 22px 30px;
}

/* line 23, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__title {
  font-weight: 500;
  font-size: 21px;
  padding: 10px 0;
}

/* line 28, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__input-group-a {
  margin-top: 10px;
}

@media screen and (max-width: 552px) {
  /* line 28, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-backbet__input-group-a {
    margin-top: 0;
  }
}

/* line 35, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-backbet__input-group-b {
  margin-top: 30px;
}

@media screen and (max-width: 552px) {
  /* line 35, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-backbet__input-group-b {
    margin-top: 0;
  }
}

/* line 43, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet {
  background: #FDDEE5;
  padding: 20px 22px 30px;
}

/* line 46, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__title {
  font-weight: 500;
  font-size: 21px;
  padding: 10px 0;
}

/* line 51, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__input-group-a {
  margin-top: 10px;
}

@media screen and (max-width: 552px) {
  /* line 51, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__input-group-a {
    margin-top: 0;
  }
}

/* line 57, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons {
  padding: 25px 0 10px;
}

/* line 59, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap {
  text-align: center;
}

/* line 61, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap button {
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
  background: #FFBCCB;
  border-radius: 120px;
  padding: 5px 25px;
}

@media screen and (max-width: 460px) {
  /* line 61, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}

/* line 75, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qboverlay, .panel-laybet__buttons--wrap .fboverlay, .panel-laybet__buttons--wrap .cboverlay {
  float: right;
}

@media screen and (max-width: 460px) {
  /* line 75, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap .qboverlay, .panel-laybet__buttons--wrap .fboverlay, .panel-laybet__buttons--wrap .cboverlay {
    float: inherit;
  }
}

/* line 81, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__buttons--wrap .qbunderlay, .panel-laybet__buttons--wrap .fbunderlay, .panel-laybet__buttons--wrap .cbunderlay {
  float: left;
}

@media screen and (max-width: 460px) {
  /* line 81, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__buttons--wrap .qbunderlay, .panel-laybet__buttons--wrap .fbunderlay, .panel-laybet__buttons--wrap .cbunderlay {
    float: inherit;
  }
}

/* line 91, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  border: 0;
  background: #262F30;
  margin-top: 15px;
}

/* line 100, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 108, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--bar input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}

/* line 115, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale {
  display: -webkit-box;
  width: 100%;
  margin-top: 10px;
}

/* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .line {
  height: 7.5px;
  width: 1px;
  margin: 0 0.925%;
  background-color: #262F30;
}

@media screen and (max-width: 510px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.91%;
  }
}

@media screen and (max-width: 480px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.905%;
  }
}

@media screen and (max-width: 460px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.901%;
  }
}

@media screen and (max-width: 440px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.896%;
  }
}

@media screen and (max-width: 400px) {
  /* line 119, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__slider--scale .line {
    margin: 0 0.87%;
  }
}

/* line 140, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__slider--scale .l1, .panel-laybet__slider--scale .l25, .panel-laybet__slider--scale .l49 {
  height: 20px;
  width: 2px;
}

/* line 146, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax {
  margin-top: 10px;
  display: -webkit-box;
  font-size: 18px;
  width: 100%;
}

/* line 151, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min {
  width: calc(100% / 3);
}

/* line 153, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min {
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

@media screen and (max-width: 460px) {
  /* line 153, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--min .min {
    width: 90px;
    font-size: 16px;
  }
}

/* line 165, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--min .min__value input {
  border: none;
  background: #FFBCCB;
  font-size: 18px;
  width: 55px;
  margin-left: 10px;
}

@media screen and (max-width: 460px) {
  /* line 165, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--min .min__value input {
    width: 45px;
    margin-left: 5px;
    font-size: 16px;
  }
}

/* line 180, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard {
  width: calc(100% / 3);
  text-align: center;
}

/* line 183, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--standard .standard {
  padding-top: 10px;
  font-size: 20px;
}

@media screen and (max-width: 460px) {
  /* line 183, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--standard .standard {
    padding-top: 12.5px;
    font-size: 16px;
  }
}

/* line 192, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max {
  width: calc(100% / 3);
  position: relative;
}

/* line 195, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max {
  position: absolute;
  right: 0;
  width: 115px;
  display: -webkit-box;
  padding: 10px;
  background: #FFBCCB;
  border-radius: 7px;
  font-weight: 400;
}

@media screen and (max-width: 460px) {
  /* line 195, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--max .max {
    width: 90px;
    font-size: 16px;
  }
}

/* line 209, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.panel-laybet__minmax--max .max__value input {
  border: none;
  background: #FFBCCB;
  font-size: 18px;
  width: 55px;
  margin-left: 10px;
}

@media screen and (max-width: 460px) {
  /* line 209, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
  .panel-laybet__minmax--max .max__value input {
    width: 45px;
    margin-left: 5px;
    font-size: 16px;
  }
}

/* line 228, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.laystake-val {
  background: #262F30;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

/* line 236, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.laystake-val:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(38, 47, 48, 0);
  border-bottom-color: #262F30;
  border-width: 18px;
  margin-left: -18px;
}

/* line 252, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult {
  margin-top: 15px;
}

/* line 255, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc .rm-padding {
  padding: 0 15px;
}

/* line 258, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc .in-width {
  width: 25%;
}

/* line 261, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc .divide-padding {
  padding: 0 7.5px;
}

/* line 264, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc .rm-extra {
  padding-right: 0;
}

/* line 267, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult .cbcalc .align-center {
  padding-right: 0;
  text-align: left;
}

/* line 272, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table {
  border-collapse: collapse;
  text-align: right;
  width: 100%;
}

/* line 276, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row1 {
  background: #262F30;
  color: white;
  font-weight: 500;
  width: 100%;
}

/* line 282, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row1 th:nth-child(1), .quickresult__table--row1 td:nth-child(1) {
  width: 35%;
}

/* line 285, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row1 th:nth-child(2), .quickresult__table--row1 th:nth-child(4), .quickresult__table--row1 th:nth-child(6), .quickresult__table--row1 td:nth-child(2), .quickresult__table--row1 td:nth-child(4), .quickresult__table--row1 td:nth-child(6) {
  width: 18%;
}

/* line 290, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row2 {
  background: #F0F8FF;
  font-weight: 500;
}

/* line 294, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row2 td:nth-child(1) {
  text-align: left;
  padding-left: 15px;
}

/* line 300, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row2 th:nth-child(1), .quickresult__table--row2 td:nth-child(1) {
  width: 35%;
}

/* line 303, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row2 th:nth-child(2), .quickresult__table--row2 th:nth-child(4), .quickresult__table--row2 th:nth-child(6), .quickresult__table--row2 td:nth-child(2), .quickresult__table--row2 td:nth-child(4), .quickresult__table--row2 td:nth-child(6) {
  width: 18%;
}

/* line 308, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row3 {
  background: #CBE2E5;
  font-weight: 500;
}

/* line 312, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row3 td:nth-child(1) {
  text-align: left;
  padding-left: 15px;
}

/* line 318, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row3 th:nth-child(1), .quickresult__table--row3 td:nth-child(1) {
  width: 35%;
}

/* line 321, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table--row3 th:nth-child(2), .quickresult__table--row3 th:nth-child(4), .quickresult__table--row3 th:nth-child(6), .quickresult__table--row3 td:nth-child(2), .quickresult__table--row3 td:nth-child(4), .quickresult__table--row3 td:nth-child(6) {
  width: 18%;
}

/* line 327, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col1 {
  width: 40%;
  padding: 25px 0;
}

/* line 331, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col2 {
  width: 15%;
}

/* line 334, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col3 {
  width: 2%;
  padding: 0 30px;
  text-align: center;
  color: #E6B051;
  font-weight: lighter;
  font-size: 22px;
}

/* line 342, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 346, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 350, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #E6B051;
  font-weight: lighter;
}

/* line 356, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row1-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
}

/* line 362, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col1 {
  width: 50%;
  padding: 10px 25px 10px 0;
  font-size: 18px;
  background: #D7ECFA;
  border-radius: 0 25px 25px 0;
  position: relative;
}

/* line 369, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col1 .bs {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #F0F8FF;
  z-index: -1;
}

/* line 378, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col2 {
  width: 15%;
}

/* line 381, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col3 {
  width: 2%;
  padding: 0 30px 0;
  text-align: center;
  color: #262F30;
  font-size: 22px;
}

/* line 388, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 392, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 396, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #262F30;
  background: rgba(0, 0, 0, 0.07);
}

/* line 402, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row2-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.07);
}

/* line 410, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col1 {
  width: 50%;
  padding: 10px 15px 10px 0;
  font-size: 20px;
  background: #FDDEE5;
  border-radius: 0 25px 25px 0;
  position: relative;
}

/* line 417, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col1 .bs2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: #CBE2E5;
  z-index: -1;
}

/* line 426, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col2 {
  width: 15%;
}

/* line 429, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col3 {
  width: 2%;
  padding: 0 30px 0;
  text-align: center;
  color: #262F30;
  font-size: 22px;
}

/* line 436, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col4 {
  width: 12%;
  padding-right: 15px;
}

/* line 440, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col7 {
  width: 12%;
  padding-right: 15px;
}

/* line 444, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col5 {
  width: 2%;
  padding: 0 0 0 15px;
  color: #262F30;
  background: rgba(0, 0, 0, 0.07);
}

/* line 450, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.quickresult__table .row3-qualifying__col6 {
  width: 12%;
  padding-right: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.07);
}

/* line 460, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accordion {
  background-color: #262F30;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 15px;
  font-weight: 500;
  word-spacing: 70px;
}

/* line 476, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable {
  float: right;
  border-collapse: collapse;
  font-size: 18px;
}

/* line 480, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr {
  text-align: center;
}

/* line 482, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td {
  display: inline-block;
}

/* line 485, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td:nth-child(2) {
  padding: 0 33px;
}

/* line 488, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accrtable tr td:nth-child(3) {
  padding: 0 15px;
}

/* line 500, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

/* line 508, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.active:after {
  content: "\2212";
}

/* line 512, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.mpanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* line 520, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show {
  width: 100%;
  border-collapse: collapse;
}

/* line 525, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show tr th:nth-child(1), .moreresults__show tr td:nth-child(1) {
  text-align: left;
}

/* line 530, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row {
  text-align: center;
}

/* line 532, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(odd) {
  background: #CBE2E5;
}

/* line 535, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row:nth-child(even) {
  background: #F0F8FF;
}

/* line 538, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .bold {
  font-weight: bold;
}

/* line 541, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .whiteopacited {
  background: rgba(255, 255, 255, 0.22);
}

/* line 544, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row .blackopacited {
  background: rgba(0, 0, 0, 0.07);
}

/* line 548, C:/Users/sahil/Documents/GitHub/calc/scss/_calculatordefault.scss */
.moreresults__show--row-col {
  padding: 15px 15px;
}

/*# sourceMappingURL=../css/style.map */