input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.tabpanel {
  width: 100%;
}

.panel{
  &__info{
    font-style: italic;
    margin-top: 50px;
    font-size: 16px;
  }
}

.panel-backbet {
  background: #D7ECFA;
  padding: 20px 22px 30px;
  &__title{
    font-weight: 500;
    font-size: 21px;
    padding: 10px 0;
  }
  &__input-group-a{
    margin-top: 10px;
    @media screen and (max-width: 552px) {
      margin-top: 0;
      
    }
  }
  &__input-group-b{
    margin-top: 30px;
    @media screen and (max-width: 552px) {
      margin-top: 0;
    }
  }
}

.panel-laybet {
  background: #FDDEE5;
  padding: 20px 22px 30px;
  &__title{
    font-weight: 500;
    font-size: 21px;
    padding: 10px 0;
  }
  &__input-group-a{
    margin-top: 10px;
    @media screen and (max-width: 552px) {
      margin-top: 0;
    }
  }
  &__buttons{
    padding: 25px 0 10px;
    &--wrap{
      text-align: center;
      button{
        font-size: 14px;
        font-weight: 500;
        outline: none;
        border: none;
        background: #FFBCCB;
        border-radius: 120px;
        padding:5px 25px;
        @media screen and (max-width: 460px) {
          display: block;
          width: 100%;
          margin-top: 10px;
        }
      }
      .qboverlay, .fboverlay, .cboverlay{
        float: right;
        @media screen and (max-width: 460px) {
          float: inherit;
        }
      }
      .qbunderlay, .fbunderlay, .cbunderlay{
        float: left;
        @media screen and (max-width: 460px) {
          float: inherit;
        }
      }
    }
  }
  &__slider{
    &--bar{
      input{
        -webkit-appearance: none;
        width: 100%;
        height: 6px;
        border-radius: 5px;
        border: 0;
        background:#262F30;
        margin-top: 15px;
      }
      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
      }
      input::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #fff;
      }
    }
    &--scale{
        display: -webkit-box;
        width: 100%;
        margin-top: 10px;
      .line{
        height: 7.5px;
        width: 1px;
        margin: 0 0.925%;
        background-color: #262F30;
        @media screen and (max-width:510px) {
          margin: 0 0.91%;
        }
        @media screen and (max-width:480px) {
          margin: 0 0.905%;
        }
        @media screen and (max-width:460px) {
          margin: 0 0.901%;
        }
        @media screen and (max-width:440px) {
          margin: 0 0.896%;
        }
        @media screen and (max-width:400px) {
          margin: 0 0.87%;
        }
      }
      .l1, .l25, .l49{
        height: 20px;
        width: 2px;
      }
    }
  }
  &__minmax{
    margin-top: 10px;
    display: -webkit-box;
    font-size: 18px;
    width: 100%;
    &--min{
      width: calc(100% / 3);
      .min{
        width: 115px;
        display: -webkit-box;
        padding: 10px;
        background: #FFBCCB;
        border-radius: 7px;
        font-weight: 400;
        @media screen and (max-width:460px) {
          width: 90px;
          font-size: 16px;
        }
        &__value{
          input{
            border: none;
            background: #FFBCCB;
            font-size: 18px;
            width: 55px;
            margin-left: 10px;
            @media screen and (max-width:460px) {
              width: 45px;
              margin-left: 5px;
              font-size: 16px;
            }
          }
        }
      }
    }
    &--standard{
      width: calc(100% / 3);
      text-align: center;
      .standard{
        padding-top: 10px;
        font-size: 20px;
        @media screen and (max-width:460px) {
          padding-top: 12.5px;
          font-size: 16px;
        }
      }
    }
    &--max{
      width: calc(100% / 3);
      position: relative;
      .max{
        position: absolute;
        right: 0;
        width: 115px;
        display: -webkit-box;
        padding: 10px;
        background: #FFBCCB;
        border-radius: 7px;
        font-weight: 400;
        @media screen and (max-width:460px) {
          width: 90px;
          font-size: 16px;
        }
        &__value{
          input{
            border: none;
            background: #FFBCCB;
            font-size: 18px;
            width: 55px;
            margin-left: 10px;
            @media screen and (max-width:460px) {
              width: 45px;
              margin-left: 5px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}


.laystake-val{
  background: #262F30;
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  position: relative;
  &:after{
    bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(38, 47, 48, 0);
	border-bottom-color: #262F30;
	border-width: 18px;
	margin-left: -18px;
  }
}

.quickresult{
  margin-top: 15px;
  .cbcalc{
    tr{
      &:nth-child(1) {
        background: #262F30;
        color: white;
        font-weight: 500;
        th:nth-child(3) {
          color:#E6B051;
          padding-right:0px;
          padding-left:0px;
        }
        th:nth-child(4) {
          padding-right:0px;
          padding-left:0px;
        }
        th:nth-child(5) {
          color:#E6B051;
        }
      }
      &:nth-child(2) {
        background: #F0F8FF;
        color: white;
        font-weight: 500;
        color: black;
        td:nth-child(1){
          background: #D7ECFA;
          border-radius: 0 25px 25px 0;
          position: relative;
        }
      }
      &:nth-child(3) {
        background: #CBE2E5;
        color: white;
        font-weight: 500;
        color: black;
        td:nth-child(1){
          background: #FDDEE5;
          border-radius: 0 25px 25px 0;
          position: relative;
          .bs2{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            background: #CBE2E5;
            z-index: -1
          }
        }
      }
      th{
        &:nth-last-child(2) {
          padding-left: 0px!important;
        }
        &:nth-last-child(1) {
          padding-right: 0px;
        }
      }
      th{
        &:nth-last-child(1) {
          padding-right: 15px;
        }
      }
      th,td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      td{
        &:nth-child(1) {
          text-align: left;
          width: 20%;
          padding-right:0px;
          padding-left:0px;
          font-size: 15px;
          position: relative;
        }
        &:nth-child(2) {
          width: 20%;
          padding-right:0;
          padding-left:0;
          font-size: 16px;
        }
        &:nth-child(4) {
          width: 20%;
          padding-left:0;
          font-size: 16px;
          //padding-right: 15px;
        }
        &:nth-child(6) {
          width: 20%;
          padding-right:0px;
          padding-left:0;
          font-size: 16px;
        }
        &:nth-child(7) {
          width: 20%;
          padding-right:0px;
          padding-left:0px;
          font-size: 16px;
        }
      }
      .bs{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: #F0F8FF;
        z-index: -1;
      }
    }
  }
  &__table{
    border-collapse: collapse;
    text-align: right;
    width: 100%;
    
    tr{
      &:nth-child(1) {
        background: #262F30;
        color: white;
        font-weight: 500;
        th:nth-child(3) {
          color:#E6B051;
          padding-right:0px;
          padding-left:0px;
        }
        th:nth-child(4) {
          padding-right:0px;
          padding-left:10px;
        }
        th:nth-child(5) {
          color:#E6B051;
        }
      }
      &:nth-child(2) {
        background: #F0F8FF;
        color: white;
        font-weight: 500;
        color: black;
        td:nth-child(1){
          background: #D7ECFA;
          border-radius: 0 25px 25px 0;
          position: relative;
        }
      }
      &:nth-child(3) {
        background: #CBE2E5;
        color: white;
        font-weight: 500;
        color: black;
        td:nth-child(1){
          background: #FDDEE5;
          border-radius: 0 25px 25px 0;
          position: relative;
          .bs2{
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            background: #CBE2E5;
            z-index: -1
          }
        }
      }
      th{
        &:nth-last-child(1) {
          padding-right: 15px;
        }
      }
      th{
        &:nth-last-child(1) {
          padding-right: 15px;
        }
      }
      th,td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      td{
        &:nth-child(1) {
          text-align: left;
          width: 25%;
          padding-right:5px;
          padding-left:5px;
          font-size: 15px;
          position: relative;
        }
        &:nth-child(2) {
          width: 20%;
          padding-right:0;
          padding-left:0;
          font-size: 16px;
        }
        &:nth-child(4) {
          width: 20%;
          padding-left:0;
          font-size: 16px;
          //padding-right: 15px;
        }
        &:nth-child(6) {
          width: 20%;
          padding-right:15px;
          padding-left:0;
          font-size: 16px;
        }
      }
      .bs{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        background: #F0F8FF;
        z-index: -1;
      }
    }
    /*
    &--row1{
      background: #262F30;
      color: white;
      font-weight: 500;
      width: 100%;
    }
    &--row2{
      background: #F0F8FF;
      font-weight: 500;
    }
    &--row3{
      background: #CBE2E5;
      font-weight: 500;
    }
    .row1-qualifying{
      &__col3{
        width: 2%;
        padding: 0 30px;
        text-align: center;
        color: #E6B051;
        font-weight: lighter;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #E6B051;
        font-weight: lighter;
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
      }
    }
    .row2-qualifying{
      &__col1{
        width: 50%;
        padding:10px 25px 10px 0;
        font-size: 18px;
        background: #D7ECFA;
        border-radius: 0 25px 25px 0;
        position: relative;
        .bs{
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background: #F0F8FF;
          z-index: -1
        }
      }
      &__col2{
        width: 15%;
      }
      &__col3{
        width: 2%;
        padding: 0 30px 0;
        text-align: center;
        color: #262F30;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #262F30;
        background: rgba(0,0,0,0.07);
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
        font-weight: 600;
        background: rgba(0,0,0,0.07);
      }
    }
    .row3-qualifying{
      &__col1{
        width: 50%;
        padding:10px 15px 10px 0;
        font-size: 20px;
        background: #FDDEE5;
        border-radius: 0 25px 25px 0;
        position: relative;
        .bs2{
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          background: #CBE2E5;
          z-index: -1
        }
      }
      &__col2{
        width: 15%;
      }
      &__col3{
        width: 2%;
        padding: 0 30px 0;
        text-align: center;
        color: #262F30;
        font-size: 22px;
      }
      &__col4{
        width: 12%;
        padding-right: 15px;
      }
      &__col7{
        width: 12%;
        padding-right: 15px;
      }
      &__col5{
        width: 2%;
        padding: 0 0 0 15px;
        color: #262F30;
        background: rgba(0,0,0,0.07);
      }
      &__col6{
        width: 12%;
        padding-right: 20px;
        font-weight: 600;
        background: rgba(0,0,0,0.07);
      }
    }*/
  }
}

.accordion {
  background-color: #262F30;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: right;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 15px;
  font-weight: 500;
  word-spacing: 70px;
}

.accrtable{
  float: right;
  border-collapse: collapse;
  font-size: 18px;
  tr{
    text-align: center;
    td{
      display: inline-block;
      //padding: 0 15px;
      &:nth-child(2){
        padding:0 33px;
      }
      &:nth-child(3){
        padding: 0 15px;
        
      }
    }
  }
}

.active, .accordion:hover {
  //background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #fff;
  font-weight: bold;
  float: left;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.mpanel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.moreresults{
  &__show{
    width: 100%;
    border-collapse: collapse;
    tr{
      th,td{
        &:nth-child(1){
          text-align: left;
        }
      }
    }
    &--row {
      text-align: center;
      &:nth-child(odd) {
        background: #CBE2E5;
      }
      &:nth-child(even) {
        background: #F0F8FF;
      }
      .bold{
        font-weight: bold;
      }
      .whiteopacited{
        background: rgba(255,255,255,0.22);
      }
      .blackopacited{
        background: rgba(0,0,0,0.07);
      }
    }
    &--row-col{
      padding:15px 15px;
    }
  }
}