.tabbuttons{
  width: 100%;
}
.buttoncontainer{
  @media screen and (max-width:400px) {
    //display: -webkit-box;
  }
  button{
    width: calc(100% / 3);  
    outline: none;
    border: none;
    float: left;
    font-size: 18px;
    padding: 15px 0;
    border-collapse: collapse;
  }
}